
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="#">BloggingTimes</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog Feed</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Mentors</a></li>
          <li><a href="#">Recent Blogs</a></li>
          <li><a href="#">Contact</a></li>
          <li class="book-a-table text-center">
            <a href="#">Sign Up Here</a>
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>
  <!-- End Header -->

    <main id="main">
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Blogs Page</h2>
            <ol>
              <li><a href="#">Home</a></li>
              <li>Blogs Page</li>
            </ol>
          </div>
        </div>
      </section>

      <section class="inner-page" >
        <div class="container" >
          <div class="container-fluid">
                <div class="row" >
                    <div class="col-12">
                        <form method="GET" action="" class="form-inline">                
                            <input class="form-control" name="search" type="search" placeholder="Search..." aria-label="Search">
                            <button class="btn" type="submit" style="color: #cda45e;">
                              <i class="fa fa-search"></i>
                            </button>                                
                        </form>
                    </div>                
                </div>            
                <div class="row" >
                  {% for result in blogs %}
                  <article class="col-12 col-md-6" data-aos="zoom-in"
                    data-aos-delay="100">
                        <hr>
                        <a href="{% url 'blog:post-detail' result.id%}" class="effect-lily">
                            <div>
                                <img src="{{result.thumnail_image.url}}" alt="Image" class="img-fluid" style="width:500px;height:300px">                            
                            </div>
                            <h2>{{result.title}}</h2>
                        </a>                    
                        {% comment  %}
                        <p class="pt-3">
                            {{result.content|safe}}
                        </p>   
                        {% endcomment %}
                        
                        <div class="d-flex justify-content-between pt-4">
                            <span>Travel . Events</span>
                            <span>{{result.date_posted}}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            
                            <span>by {{result.author}}</span>
                        </div>
                    </article>
                    {% empty %}
                    add something to show no results
                {% endfor %}
               
              
          
          </div>
        </div>
        {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li> {% endif %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
          {% if page_obj.has_next %}<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li> {% endif %}
        </ul>
        {% endif %}
        </div>
        </section>
     
        <!-- ======= Footer ======= -->
    
{% endblock %}
