<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>BloggingTimes</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% 'static assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet" />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="{% static '//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css' %}"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
   

  </head>

  <body>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="{% static 'index.html' %}">BloggingTimes</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% static 'index.html' %}">Home</a></li>
          <li><a href="{% static '#about' %}">About</a></li>
          <li><a href="{% static 'inner-page.html' %}">Blog Feed</a></li>
          <li><a href="{% static '#profile' %}">Profile</a></li>
          <li><a href="{% static '#mentors' %}">Mentors</a></li>
          <li><a href="{% static '#recentblogs' %}">Recent Blogs</a></li>
          <li><a href="{% static '#contact' %}">Contact</a></li>
          <li class="book-a-table text-center">
            <a href="{% static 'register.html' %}">Sign Up Here</a>
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>
  <!-- End Header -->

    <main id="main">
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Blogs Page</h2>
            <ol>
              <li><a href="{% static 'index.html' %}">Home</a></li>
              <li>Blogs Page</li>
            </ol>
          </div>
        </div>
      </section>

      <section class="inner-page" >
        <div class="container" >
          <div class="container-fluid">
                <div class="row" >
                    <div class="col-12">
                        <form method="GET" class="form-inline">                
                            <input class="form-control" name="query" type="text" placeholder="Search..." aria-label="Search">
                            <button class="btn" type="submit" style="color: #cda45e;">
                              <i class="fa fa-search"></i>
                            </button>                                
                        </form>
                    </div>                
                </div>            
                <div class="row" >
                    <article class="col-12 col-md-6" data-aos="zoom-in"
                    data-aos-delay="100">
                        <hr>
                        <a href="{% static 'blog-page.html' %}" class="effect-lily">
                            <div>
                                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" alt="Image" class="img-fluid">                            
                            </div>
                            <span class="position-absolute">New</span>
                            <h2>Oye mittu oye</h2>
                        </a>                    
                        <p class="pt-3">
                            There is a clickable image with beautiful hover effect and active title link for each post item. 
                            Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
                        </p>
                        <div class="d-flex justify-content-between pt-4">
                            <span>Travel . Events</span>
                            <span>June 24, 2020</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>36 comments</span>
                            <span>by Admin Nat</span>
                        </div>
                    </article>
                    <article class="col-12 col-md-6" data-aos="zoom-in"
                    data-aos-delay="100">
                      <hr class="tm-hr-primary">
                      <a href="{% static 'blog-page.html' %}" class="effect-lily">
                          <div>
                              <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" alt="Image" class="img-fluid">                            
                          </div>
                          <span class="position-absolute">New</span>
                          <h2>oye mittu oye</h2>
                      </a>                    
                      <p class="pt-3">
                          There is a clickable image with beautiful hover effect and active title link for each post item. 
                          Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
                      </p>
                      <div class="d-flex justify-content-between pt-4">
                          <span>Travel . Events</span>
                          <span>June 24, 2020</span>
                      </div>
                      <hr>
                      <div class="d-flex justify-content-between">
                          <span>36 comments</span>
                          <span>by Admin Nat</span>
                      </div>
                  </article>
                  <article class="col-12 col-md-6" data-aos="zoom-in"
                  data-aos-delay="100">
                    <hr class="tm-hr-primary">
                    <a href="{% static 'blog-page.html' %}" class="effect-lily">
                        <div>
                            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" alt="Image" class="img-fluid">                            
                        </div>
                        <span class="position-absolute">New</span>
                        <h2>oye mittu oye</h2>
                    </a>                    
                    <p class="pt-3">
                        There is a clickable image with beautiful hover effect and active title link for each post item. 
                        Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
                    </p>
                    <div class="d-flex justify-content-between pt-4">
                        <span>Travel . Events</span>
                        <span>June 24, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 comments</span>
                        <span>by Admin Nat</span>
                    </div>
                </article>
                <article class="col-12 col-md-6" data-aos="zoom-in"
                data-aos-delay="100">
                  <hr>
                  <a href="{% static 'blog-page.html' %}" class="effect-lily">
                      <div>
                          <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" alt="Image" class="img-fluid">                            
                      </div>
                      <span class="position-absolute">New</span>
                      <h2>oye mittu oye</h2>
                  </a>                    
                  <p class="pt-3">
                      There is a clickable image with beautiful hover effect and active title link for each post item. 
                      Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
                  </p>
                  <div class="d-flex justify-content-between pt-4">
                      <span>Travel . Events</span>
                      <span>June 24, 2020</span>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-between">
                      <span>36 comments</span>
                      <span>by Admin Nat</span>
                  </div>
              </article>
              <article class="col-12 col-md-6" data-aos="zoom-in"
              data-aos-delay="100">
                <hr class="tm-hr-primary">
                <a href="{% static 'blog-page.html' %}" class="effect-lily">
                    <div>
                        <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" alt="Image" class="img-fluid">                            
                    </div>
                    <span class="position-absolute">New</span>
                    <h2>oye mittu oye</h2>
                </a>                    
                <p class="pt-3">
                    There is a clickable image with beautiful hover effect and active title link for each post item. 
                    Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
                </p>
                <div class="d-flex justify-content-between pt-4">
                    <span>Travel . Events</span>
                    <span>June 24, 2020</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>36 comments</span>
                    <span>by Admin Nat</span>
                </div>
            </article>
          
          </div>
        </div>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="{% static'#' %}">Previous</a></li>
          <li class="page-item"><a class="page-link" href="{% static'#' %}">1</a></li>
          <li class="page-item"><a class="page-link" href="{% static'#' %}">2</a></li>
          <li class="page-item"><a class="page-link" href="{% static'#' %}">3</a></li>
          <li class="page-item"><a class="page-link" href="{% static'#' %}">Next</a></li>
        </ul>
        </div>
        </section>
     
        <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container" >
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>BloggingTimes</h3>
                <p>
                  Thapar University <br />
                  Patiala, India<br /><br />
                  <strong>Phone:</strong> +1 5589 55488 55<br />
                  <strong>Email:</strong> info@example.com<br />
                </p>
                <div class="social-links mt-3">
                  <a href="{% static'#' %}" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="{% static'#' %}" class="facebook"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                  <a href="{% static'#' %}" class="instagram"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                  <a href="{% static'#' %}" class="google-plus"
                    ><i class="bx bxl-skype"></i
                  ></a>
                  <a href="{% static'#' %}" class="linkedin"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="{% static'#' %}">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="{% static'#' %}">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="{% static'#' %}">Blog Feed</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{% static'#' %}">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{% static'#' %}">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{% static'#' %}">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{% static'#' %}">Content Writing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{% static'#' %}">Internships</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{% static'#' %}">Mentorship</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Tamen quem nulla quae legam multos aute sint culpa legam noster
                magna
              </p>
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>BloggingTimes</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">Designed by <a href="{% static'#' %}">BloggingTimes</a></div>
      </div>
    </footer>
    <!-- End Footer -->
    <div id="preloader"></div>
    <a href="{% static'#' %}" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    <!-- chatbot -->
    <script
      src="{% static '//code.tidio.co/0lvxlhnuxefffebj15lxztg1vhuhlph4.js' %}"
      async
    ></script>
    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
