{% extends 'base.html' %}
{% load static%}
{% block content %}

  <body>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="{% static 'index.html' %}">BloggingTimes</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html ">Home</a></li>
          <li><a href="#about>About</a></li>
          <li><a href="#inner-page.html">Blog Feed</a></li>
          <li><a href="#profile">Profile</a></li>
          <li><a href="#mentors">Mentors</a></li>
          <li><a href="#recentblogs">Recent Blogs</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="book-a-table text-center">
            <a href="register.html">Sign Up Here</a>
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>
  <!-- End Header -->


  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog Page</h2>
          <ol>
            <li><a href="#index.html">Home</a></li>
            <li>Blog Page</li>
          </ol>
        </div>
      </div>
    </section>

      <section class="inner-page">
        <div class="container" data-aos="fade-up">
          <div class="container-fluid">
            <main>           
                <div class="row" >
                    <div class="col-12">
                      <h2 class="pt-2">{{post.title}}</h2>
                      <p class="">June 16, 2020 posted by Admin Nat</p>
                        <hr class="w-100">
                        <img src="{{post.main_img.url}}" width="954" height="535" class="mb-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="post-full">                    
                            <div class="mb-4">
                                <p>
                                   {{post.content}}
                                </p>
                                <span class="d-block text-right">Creative . Design . Business</span>
                            </div>
                            
                            <!-- Comments -->
                            <div data-aos="fade-up" data-aos-delay="100">
                                <h2 class="comment-title">Comments</h2>
                                <hr />
                                {% for comm in comments %}
                                <div class="comment">
                                    <figure class="comment-figure">
                                        <img src="{% static 'img/gallery/gallery-1.jpg' %}" alt="Image" class="mb-2 rounded-circle comment-author">
                                        <span>{{comm.name}}</span>
                                    </figure>
                                    <div>
                                        <p>
                                            {{comm.body | linebreaks}}
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <span>{{comm.created_on}}</span>
                                        </div>                                                 
                                    </div>                                
                                </div>
                                {% endfor %}
                                                           
                              </div>
                              
                              
                      
                                <form action="" method="POST" class="mb-5 comment-form">
                                {% csrf_token %}
                                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                    
                                    
          
                                    <div class="mb-4">
                                    {{comment_form.name}}</div>
                                      <div class="mb-4">
                                    {{comment_form.email}}</div>
                                    <div class="mb-4">
                                    {{comment_form.body}}</div>
                                      {% comment  %}<input class="form-control" name="name" type="text" placeholder="name"> 
                                    </div>
                                    <div class="mb-4">
                                        <input class="form-control" name="email" type="text" placeholder="email">
                                    </div>
                                    <div class="mb-4">
                                        <textarea class="form-control" name="message" rows="6" placeholder="message"></textarea>
                                    </div> 
                                      {% endcomment %}
                                        
                                    <ul class="nav-menu d-none d-lg-block"> 
                                      <p class="book-a-table text-center"><a href="#book-a-table"><button type="submit" style="width:100%;background-color:transparent;border:0px; color:white;height:100%">Submit</button></a>
                                     {% comment %}
                                     <button style="width:650px; border-radius:10px;color:white;border-color:#CDA45E;border:2px; background-color:transparent" type="submit">Add comment </button></p>
                                    {% endcomment %}</ul>                               
                                </form>                      
                            </div>
                        </div>
                    </div>
                    {% comment  %}
              
                    <aside class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                        <div>
                            <hr class="mb-3">
                            <h2 class="mb-4 ">Categories</h2>
                            <ul class="tm-mb-75 pl-5 tm-category-list">
                                <li><a href="#" >Visual Designs</a></li>
                                <li><a href="#" >Travel Events</a></li>
                                <li><a href="#" >Web Development</a></li>
                                <li><a href="'#'" >Video and Audio</a></li>
                                
                            </ul>
                            <hr class="mb-3">
                            <h2>Related Posts</h2>
                            <a href="#" class="d-block">
                                <figure>
                                    <img src="{% static '/img/testimonials/testimonials-3.jpg' %}" alt="Image" class="mb-3 img-fluid recent-author">
                                    <p >Duis mollis diam nec ex viverra scelerisque a sit</p>
                                </figure>
                            </a>
                            <a href="#" class="d-block">
                              <figure>
                                  <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" alt="Image" class="mb-3 img-fluid recent-author">
                                  <p >Duis mollis diam nec ex viverra scelerisque a sit</p>
                              </figure>
                          </a>
                          <a href="#" class="d-block">
                            <figure>
                                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" alt="Image" class="mb-3 img-fluid recent-author">
                                <p >Duis mollis diam nec ex viverra scelerisque a sit</p>
                            </figure>
                        </a>  
                        </div>                    
                    </aside> {% endcomment %}
                  </div>
            </main>
        </div>
        </div>
        </section> 
        
        
{% endblock content%}
